.error{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 0.8rem;
    color: #a92222;
    padding-left: 1rem;
    margin: auto;
}

.mouseSelectedItem:hover{
    background-color: #4679BD;
    color:white;
    cursor: pointer;
    font-size: 130%
}

.modal-info-text{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: medium;
}

.modal-info-text-body-title{
    font-weight: bold;
}

.modal-info-text-body-field div{
    font-weight: bold;
}

.card-comment{
    font-size: 10px;
    color: #4b5257;
}
.spacing-row{
    margin-bottom: 5px;
    margin-top: 10px;
}

.text-placa{
    color: #e0a800;
    font-size: 1.4rem;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: bold;
    background-color: #1c94c4;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    padding: 0.5rem 0.5rem;
}
.footer-options {
    margin-top: 45px;
    margin-bottom: 25px;

}

td.cell-center-middle{
    text-align: center;
    vertical-align: middle;
}

td.cell-right-middle{
    text-align: right;
    vertical-align: middle;
}

td.cell-left-middle{
    text-align: left;
    vertical-align: middle;
}

/*
    Multiple email input
*/
.multiple_emails-container {
    border: 1px #999999 solid;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 0;
    margin: 0;
    cursor: text;
    width: 100%;
}

.multiple_emails-container input {
    width: 100%;
    border: 0;
    outline: none;
    margin-bottom: 30px;
    padding-left: 5px;
}

.multiple_emails-container input {
    border: 0 !important;
}

.multiple_emails-container input.multiple_emails-error {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red !important;
    outline: thin auto red !important;
}

.multiple_emails-container ul {
    list-style-type: none;
    padding-left: 0;
}

.multiple_emails-email {
    margin: 3px 5px 3px 5px;
    padding: 3px 5px 3px 5px;
    border: 1px #bbd8fb solid;
    border-radius: 3px;
    background: #f3f7fd;
}

.multiple_emails-close {
    float: left;
    margin: 0 3px;
}

.flot-chart {
    width: 100%;
    height: 320px; }

.center-img {
    display: block;
    margin: 1rem auto 2rem;
    width: 75%;
}

.required-type {
    color: #a92222;
    font-size: 2rem;
    margin: auto 1rem;
}

.required-type:hover {
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: bold;
}

#dataTable{
    font-size: 0.70rem;
}

#dataTable tr td .badge{
    font-size: 0.85em;
}

#dataTable tbody tr td:last-child{
    padding: 0;
}