.o-hidden {
    overflow: hidden !important;
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.z-1 {
    z-index: 1;
}

.app-title{
    color: white;
    font-size: 60px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 80px;
    right: 500px;
    transform: rotate(48deg);
}

.welcome-message{
    color: white;
    font-size: 25px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    position: absolute;
    top: 150px;
    right: 275px;
    transform: rotate(-46deg);
}

body {
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow-x: hidden;
}

.triangle, .triangle--1, .triangle--2, .triangle--3, .triangle--4, .triangle--5 {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    border-width: 600px 600px 0;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-filter: drop-shadow(-12px 10px 10px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-12px 10px 10px rgba(0, 0, 0, 0.4));
}

.triangle--1 {
    border-top-color: #0151a3;
    top: -60px;
    z-index: -6;
}

.triangle--2 {
    border-top-color: #025ebc;
    top: -120px;
    z-index: -5;
}

.triangle--3 {
    border-top-color: #026bd5;
    top: -180px;
    z-index: -4;
}

.triangle--4 {
    border-top-color: #0277ee;
    top: -240px;
    z-index: -3;
}

.triangle--5 {
    border-top-color: #0d84fd;
    top: -300px;
    z-index: -2;
}