.main-content{
    align-content: center;
}
.div-content{
    background-color: #fff;
    margin: 15px;
    padding: 15px 5px 5px 5px;
    border: 2px solid #262626;
    height: 250px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    max-width: 20rem;
    border-radius: 20px;
}
.div-content:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     background-color: #008CBA;
     color: #ffffff;
     
}
.div-content i{
    margin-top: 3px;
}
.content-title{
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    
}
.content-title p{
	font-size:10px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.content{
    margin: auto;
    margin-top: 25px;
}
.main_title{
    border-bottom: 2px solid #262626;
    font-family: 'Open Sans', sans-serif;
}
.main_title h2{
    margin: 2px;
}
a{
	color: black;
	text-decoration: none;
}